@tailwind preflight;

@font-face {
  font-family: "hel-neue";
  src: url("../fonts/HelveticaNeueLight.woff2"),
    url("../fonts/HelveticaNeueLight.woff");
  font-weight: 300;
}

@font-face {
  font-family: "hel-neue";
  src: url("../fonts/HelveticaNeue.woff2"), url("../fonts/HelveticaNeue.woff");
  font-weight: 400;
}

@font-face {
  font-family: "hel-neue";
  src: url("../fonts/HelveticaNeueBold.woff2"),
    url("../fonts/HelveticaNeueBold.woff");
  font-weight: 700;
}

@font-face {
  font-family: "hel-neue";
  src: url("../fonts/HelveticaNeueBlack.woff2"),
    url("../fonts/HelveticaNeueBlack.woff");
  font-weight: 900;
}

@tailwind utilities;

.hero-banner {
  background-image: url("../images/girls_and_seagulls.jpg");
  background-size: cover;
  background-position: 50%;
  min-height: 100vh;
}

.logo-block {
  background-image: url("../images/main_logo.svg");
  background-size: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  padding-bottom: 25.42%;
  height: 0;
  opacity: 0.5;
}

svg {
  fill: currentColor;
}

.flip {
  transform: scale(-1, -1);
}

.super-condensed {
  letter-spacing: -2px;
}

@media (max-width: 576px) {
  .logo-section {
    order: 0;
  }

  .details-section {
    order: 1;
  }
}
